name: xiaomi-nabu-esp-repacker
on:
  workflow_dispatch:
    inputs:
      release_url:
        # like https://github.com/pocketblue/pocketblue/releases/download/43.20251220/pocketblue-xiaomi-nabu-gnome-desktop-43.7z 
        description: 'Release URL (Leave blank for latest release) (like: ../43.00000000/pocketblue-xiaomi-nabu-gnome-desktop-43.7z)' 
        type: string
      custom_uuid:
        description: 'Custom UUID for GRUB (Leave blank for release UUID)'
        type: string
  workflow_call:
    inputs:
      release_url:
        type: string
      custom_uuid:
        type: string

run-name: Xiaomi Pad 5 UEFI ESP ${{ inputs.release_url }}

jobs:
  repack:
    runs-on: ubuntu-24.04
    steps:
      - name: Setup
        run: |
          sudo apt update
          sudo apt install -y 7zip tree
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: dualboot

      #
      # TODO
      # Add checksum verity to preserve broken release
      #   archieves and broken ESPs
      #
      - name: Download & extract release
        env:
          CUSTOM_URL: ${{ inputs.release_url }}
        run: bash ./dualboot/devices/xiaomi-nabu/scripts/download.sh

      - name: ESP
        env:
          CUSTOM_UUID: ${{ inputs.custom_uuid }}
        run: sudo -E bash ./dualboot/devices/xiaomi-nabu/scripts/create-dualboot-esp.sh

      - name: Artifact
        uses: actions/upload-artifact@v4
        with:
          name: esp
          path: esp.raw
